// Color-palette

$gray-darkest: #202833;
$gray-dark: #6e7a8a;
$gray: #aebecd;
$gray-bright: #e1e7ec;
$gray-brightest: #f8f9fa;

$primary-darkest: hsl(33, 90%, 25%);
$primary-dark: hsl(33, 70%, 50%);
$primary: hsl(33, 70%, 68%);
$primary-bright: hsl(33, 33%, 75%);
$primary-brightest: hsl(33, 10%, 90%);

$secondary-darkest: hsl(193, 90%, 25%);
$secondary-dark: hsl(193, 70%, 50%);
$secondary: hsl(193, 70%, 68%);
$secondary-bright: hsl(193, 33%, 75%);
$secondary-brightest: hsl(193, 10%, 90%);

$corner-radius: 40px;
